{:kotoba.app/id "cloud.itonami.isic-8541", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifqhz7gthvs6h7asurlu4zrmgvn7d556vrjv52ltdr4wl6pwh7d44", :kotoba.app/embed-url "ipfs://bafkreifqhz7gthvs6h7asurlu4zrmgvn7d556vrjv52ltdr4wl6pwh7d44", :published {:archive "https://kotobase.net/ipfs/bafkreifqhz7gthvs6h7asurlu4zrmgvn7d556vrjv52ltdr4wl6pwh7d44", :size 75724, :put-status 201, :get-status 200, :at "2026-08-15T13:56:51.741Z"}}
